body{

	
}

.placar{
	padding-top: 10px;
	font-size: 23px;
	text-align: center;
	width: 300px;
	height: 120px;
	background-color: #ebebeb;
	margin-bottom: 40px;
}



.area{

width: 100px;
height: 100px;
border: solid 2px #32adbd;
float: left;
}